
{# set of tooltips #}
{% set hover = {
    "facebook"   :config("SocialSharePlugin.social.facebook"),
    "pinterest" :config("SocialSharePlugin.social.pinterest"),
    "skype"      :config("SocialSharePlugin.social.skype"),
    "googleplus" :config("SocialSharePlugin.social.googleplus"),
    "linkedin"    :config("SocialSharePlugin.social.linkedin"),
    "xing"       :config("SocialSharePlugin.social.xing"),
    "tumblr"     :config("SocialSharePlugin.social.tumblr"),
    "reddit"     :config("SocialSharePlugin.social.reddit"),
    "wordpress"  :config("SocialSharePlugin.social.wordpress"),
    "digg"       :config("SocialSharePlugin.social.digg"),
    "flattr"    :config("SocialSharePlugin.social.flattr"),
    "buffer"     :config("SocialSharePlugin.social.buffer"),
    "vkontakte"  :config("SocialSharePlugin.social.vkontakte"),
    "blogger"    :config("SocialSharePlugin.social.blogger"),
    "yahoo"      :config("SocialSharePlugin.social.yahoo"), 
} %}

{# button array #}
{% set socialMediaData = config("SocialSharePlugin.social.data") | split(', ') %}

{# settings #}
{% set checkAlert = config("SocialSharePlugin.social.alert") %}
{% set link = config("SocialSharePlugin.social.privcyUrl") %}

{# styles #}
{% set style = config("SocialSharePlugin.social.style") %}
{% set animation = config("SocialSharePlugin.social.animation") %}
{% set btnType = config("SocialSharePlugin.social.btnType") %}
{% set toggleType = config("SocialSharePlugin.social.toggleType") %}


    <div style ="padding:5px">
  {% if style ==  1 %}
  {% for i in 0..(socialMediaData|length)-1 %}

            <div class = "icon-div">

                        <div class="text-tool">
                        <div>
                            
                           
                            {% if toggleType == 'default'%}
                            <label class="switch">
                                <input type="checkbox" onClick = "switchAction(this)" id = "{{socialMediaData[i]}}" confirm = {{checkAlert}} >
                                <span class="slider round"></span>
                            </label> 
                            {% else %}
                            <input type="checkbox" class="nscheckbox{{ toggleType }}" onClick = "switchAction(this)" id = "{{socialMediaData[i]}}" confirm = {{checkAlert}}> <label class="label{{ toggleType }}" for="{{socialMediaData[i]}}"> </label>
                            {% endif %}

                              <span class="tooltiptextN">{{hover[socialMediaData[i]]}}</span>
                        </div>
                         </div> 
                         <a  onClick = "shareAction(this)" class="{{ 'stb-' ~ socialMediaData[i] ~ '_gray'}}" href="javascript:;" id = "{{'id_' ~ socialMediaData[i] }}" availability = "false" styleName = "1" ></a>
                    </div>  
                
        {% endfor %}
      {% endif %}

      {# style 2 #}
    {% if style == 2 %}
       {% for i in 0..(socialMediaData|length)-1 %}

             <div style="display:inline-flex; margin-bottom: 10px">

                        <div class="text-tool">
                        <div>
                            {% if toggleType == 'default'%}
                            <label class="switch">
                                <input type="checkbox" onClick = "switchAction(this)" id = "{{socialMediaData[i]}}" confirm = {{checkAlert}} >
                                <span class="slider round"></span>
                            </label> 
                            {% else %}
                            <input type="checkbox" class="nscheckbox{{ toggleType }}" onClick = "switchAction(this)" id = "{{socialMediaData[i]}}" confirm = {{checkAlert}}> <label class="label{{ toggleType }}" for="{{socialMediaData[i]}}"> </label>
                            {% endif %}

                              <span class="tooltiptextN">{{hover[socialMediaData[i]]}}</span>
                        </div>
                         </div> 
                        <a  onClick = "shareAction(this)" class="socialuttons" data-socialuttons="{{socialMediaData[i]}}" href="javascript:;" title="" id = "{{'id_' ~ socialMediaData[i] }}"  styleName = "2"></a>
                    </div> 
                
        {% endfor %}
    {% endif %}



{# style 3 #}
    {% if style ==  3 %}
         {% for i in 0..(socialMediaData|length)-1 %}
                    <div style="display:inline-flex">

                        <div class="text-tool">
                        <div>
                            {% if toggleType == 'default'%}
                            <label class="switch">
                                <input type="checkbox" onClick = "switchAction(this)" id = "{{socialMediaData[i]}}" confirm = {{checkAlert}} >
                                <span class="slider round"></span>
                            </label> 
                            {% else %}
                            <input type="checkbox" class="nscheckbox{{ toggleType }}" onClick = "switchAction(this)" id = "{{socialMediaData[i]}}" confirm = {{checkAlert}}> <label class="label{{ toggleType }}" for="{{socialMediaData[i]}}"> </label>
                            {% endif %}

                              <span class="tooltiptextN">{{hover[socialMediaData[i]]}}</span>
                        </div>
                         </div> 
                        <a  onClick = "shareAction(this)" class="stb {{ 'stb-' ~ socialMediaData[i] ~ '_circle_' ~ animation }}" href="javascript:;" id = "{{'id_' ~ socialMediaData[i] }}" styleName = "3"><span class="{{btnType}}">{{ socialMediaData[i] }}</span></a>
                    </div>   
        {% endfor %}    
    {% endif %}
   

 </div>

<div id="myModal" class="my-modal">
    <div class="my-modal-content">  
        <p><input  style= "margin-right:2px" type="checkbox" id="my_checkbox" name="vehicle1" value="none" onclick="checkBox()">I agree to the <a href='/{{link}}'>pricacy policy </a>and will adhere to them unconditionally</p>
        <p></p>
        <div class = "buttondiv">
        <button type="button" id="accept" onClick="acceptAction()" disabled>Accept</button> 
        <button type="button" class="btnclose"  onClick="closetAction()">Close</button>
        </div>
    </div>
</div>
                     
                     

