
<script src="{{ plugin_path("SocialSharePlugin") }}/js/social.js"></script>
<link rel="stylesheet" href="{{ plugin_path('SocialSharePlugin')}}/js/dist/styleOne.css">
<link rel="stylesheet" href="{{ plugin_path('SocialSharePlugin')}}/js/dist/main.css">
<link rel="stylesheet" href="{{ plugin_path('SocialSharePlugin')}}/js/dist/stb.css">
<link rel="stylesheet" href="{{ plugin_path('SocialSharePlugin')}}/js/dist/switch3.css">

<link rel="stylesheet" type="text/css" href="{{ plugin_path('SocialSharePlugin')}}/js/dist/socialuttons-v1.0/_css/socialuttons.css" media="all" />	
<link rel="stylesheet" type="text/css" href="{{ plugin_path('SocialSharePlugin')}}/js/dist/socialuttons-v1.0/_css_styles_animation/socialuttons_flip.css" media="all" />	
<link rel="stylesheet" type="text/css" href="{{ plugin_path('SocialSharePlugin')}}/js/dist/socialuttons-v1.0/_css_styles_colors_after/socialuttons_after_bg.css" media="all" />	
<link rel="stylesheet" type="text/css" href="{{ plugin_path('SocialSharePlugin')}}/js/dist/socialuttons-v1.0/_css_styles_colors_before/socialuttons_before_color_onwhite.css" media="all" />	
<link rel="stylesheet" type="text/css" href="{{ plugin_path('SocialSharePlugin')}}/js/dist/socialuttons-v1.0/_css_styles_shapes/socialuttons_veryrounded.css" media="all" />	
<link rel="stylesheet" type="text/css" href="{{ plugin_path('SocialSharePlugin')}}/js/dist/socialuttons-v1.0/_css_styles_shadows/socialuttons_downborder.css" media="all" />

<link rel="stylesheet" type="text/css" href="{{ plugin_path('SocialSharePlugin')}}/js/dist/togglebutton/css/demo.css" media="all" />	